USE [bhive]
GO
/****** Object:  Table [bh].[Accounts]    Script Date: 08-01-2026 14:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bh].[Accounts](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Description] [varchar](200) NULL,
	[ExternalId] [varchar](40) NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [bh].[Accounts] ([Id], [Name], [Description], [ExternalId]) VALUES (N'9261433e-f36b-1410-8d5f-00a38e2e0a2b', N'Account 4', N'Description for Account 4', NULL)
INSERT [bh].[Accounts] ([Id], [Name], [Description], [ExternalId]) VALUES (N'9661433e-f36b-1410-8d5f-00a38e2e0a2b', N'Account 2', N'Description for Account 2', NULL)
INSERT [bh].[Accounts] ([Id], [Name], [Description], [ExternalId]) VALUES (N'9a61433e-f36b-1410-8d5f-00a38e2e0a2b', N'Account 3', N'Description for Account 3', NULL)
GO
ALTER TABLE [bh].[Accounts] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [bh].[Accounts] ADD  DEFAULT ('') FOR [Name]
GO
