USE [bhive]
GO
/****** Object:  Table [bh].[ProjectSites]    Script Date: 08-01-2026 14:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bh].[ProjectSites](
	[ProjectId] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[VirtualPath] [varchar](200) NOT NULL,
 CONSTRAINT [PK_ProjectSites] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [bh].[ProjectSites] ([ProjectId], [AccountId], [VirtualPath]) VALUES (N'a461433e-f36b-1410-8d5f-00a38e2e0a2b', N'3702371c-10dc-430b-b8bb-d97b5d03662c', N'/la_care_health_plan/project_4_of_la_care_health_plan')
INSERT [bh].[ProjectSites] ([ProjectId], [AccountId], [VirtualPath]) VALUES (N'a661433e-f36b-1410-8d5f-00a38e2e0a2b', N'9e3c36db-8505-4aef-b78a-ac62e134db47', N'/banner_health/project_5_of_banner_health')
INSERT [bh].[ProjectSites] ([ProjectId], [AccountId], [VirtualPath]) VALUES (N'a861433e-f36b-1410-8d5f-00a38e2e0a2b', N'9a61433e-f36b-1410-8d5f-00a38e2e0a2b', N'/account_3/project_6_of_account_3')
GO
ALTER TABLE [bh].[ProjectSites]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSites_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [bh].[Accounts] ([Id])
GO
ALTER TABLE [bh].[ProjectSites] CHECK CONSTRAINT [FK_ProjectSites_Accounts_AccountId]
GO
ALTER TABLE [bh].[ProjectSites]  WITH CHECK ADD  CONSTRAINT [FK_ProjectSites_Projects_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [bh].[Projects] ([Id])
GO
ALTER TABLE [bh].[ProjectSites] CHECK CONSTRAINT [FK_ProjectSites_Projects_ProjectId]
GO
