USE [bhive]
GO
/****** Object:  Table [bh].[Projects]    Script Date: 08-01-2026 14:27:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bh].[Projects](
	[Id] [uniqueidentifier] NOT NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](75) NOT NULL,
	[ScreenCaptureBlocked] [bit] NOT NULL,
	[BlockTimeClockNotifications] [bit] NOT NULL,
	[BlockProjectSpeedTests] [bit] NOT NULL,
	[Label] [varchar](15) NULL,
	[IsVerificationCodeEnabled] [bit] NOT NULL,
	[ExternalId] [varchar](40) NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [bh].[Projects] ([Id], [AccountId], [Name], [ScreenCaptureBlocked], [BlockTimeClockNotifications], [BlockProjectSpeedTests], [Label], [IsVerificationCodeEnabled], [ExternalId]) VALUES (N'a461433e-f36b-1410-8d5f-00a38e2e0a2b', N'3702371c-10dc-430b-b8bb-d97b5d03662c', N'Project 4 of LA Care Health Plan', 0, 0, 0, NULL, 0, NULL)
INSERT [bh].[Projects] ([Id], [AccountId], [Name], [ScreenCaptureBlocked], [BlockTimeClockNotifications], [BlockProjectSpeedTests], [Label], [IsVerificationCodeEnabled], [ExternalId]) VALUES (N'a661433e-f36b-1410-8d5f-00a38e2e0a2b', N'9e3c36db-8505-4aef-b78a-ac62e134db47', N'Project 5 of Banner Health', 0, 0, 0, NULL, 0, NULL)
INSERT [bh].[Projects] ([Id], [AccountId], [Name], [ScreenCaptureBlocked], [BlockTimeClockNotifications], [BlockProjectSpeedTests], [Label], [IsVerificationCodeEnabled], [ExternalId]) VALUES (N'a861433e-f36b-1410-8d5f-00a38e2e0a2b', N'9a61433e-f36b-1410-8d5f-00a38e2e0a2b', N'Project 6 of Account 3', 0, 0, 0, NULL, 0, NULL)
GO
ALTER TABLE [bh].[Projects] ADD  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [bh].[Projects] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [bh].[Projects] ADD  DEFAULT ((0)) FOR [ScreenCaptureBlocked]
GO
ALTER TABLE [bh].[Projects] ADD  DEFAULT ((1)) FOR [BlockTimeClockNotifications]
GO
ALTER TABLE [bh].[Projects] ADD  DEFAULT ((1)) FOR [BlockProjectSpeedTests]
GO
ALTER TABLE [bh].[Projects] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsVerificationCodeEnabled]
GO
ALTER TABLE [bh].[Projects]  WITH CHECK ADD  CONSTRAINT [FK_Projects_Accounts_AccountId] FOREIGN KEY([AccountId])
REFERENCES [bh].[Accounts] ([Id])
GO
ALTER TABLE [bh].[Projects] CHECK CONSTRAINT [FK_Projects_Accounts_AccountId]
GO
